include head
<body class=contact>
include header

.content
  address
    |1100, Courval street<br>
    |Lachine, QC<br>
    |H8T 3P5<br><br>
    |Phone: (514) 633-5377<br>
    |Fax: (514) 633-6488<br><br>
    |<a href='mailto:info@actionutilityquebec.com'>info@actionutilityquebec.com</a>
  #map
    iframe(src='http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1100,+rue	+Courval&amp;aq=&amp;sll=49.891235,-97.15369&amp;sspn=34.250764,72.509766&amp;ie=UTF8&amp;hq=&amp;hnear=1100+Rue+Courval,+Lachine,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Qu%C3%A9bec+H8T+3E4&amp;t=m&amp;ll=45.463923,-73.697491&amp;spn=0.018059,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed')
  .detail
    .cc
      a(href='mailto:FrancoisT@actionutilityquebec.com') François Tellier
    .cn François Tellier
    .ct General Manager
    .te ☎ext. 258
    .ce
      a(href='mailto:FrancoisT@actionutilityquebec.com') FrancoisT@actionutilityquebec.com
    br
    .cc
      a(href='mailto:JimH@actionutilityquebec.com') Jim Harris
    .cn Jim Harris
    .ct Service Manager
    .te ☎ext. 235
    .ce
      a(href='mailto:JimH@actionutilityquebec.com') JimH@actionutilityquebec.com
    br
    .cc
      a(href='mailto:SergeM@actionutilityquebec.com') Serge Maheu
    .cn Serge Maheu
    .ct Parts Manager
    .te ☎ext. 226
    .ce
      a(href='mailto:SergeM@actionutilityquebec.com') SergeM@actionutilityquebec.com
    br
    h3 Sales Department :
    .cc
      a(href='mailto:MichelP@actionutilityquebec.com') Michel Pouliot
    .cn Michel Pouliot
    .ct Account manager / large corporations
    .te ☎ext. 224
    .ce
      a(href='mailto:MichelP@actionutilityquebec.com') MichelP@actionutilityquebec.com
    br
    .cc
     a(href='mailto:MarioP@actionutilityquebec.com') Mario Perrino
    .cn Mario Perrino
    .ct Account manager/ new trailers
    .te ☎ext. 236
    .ce
      a(href='mailto:MarioP@actionutilityquebec.com') MarioP@actionutilityquebec.com
    br
    .cc
      a(href='mailto:RaymondL@actionutilityquebec.com') Raymond Lanthier
    .cn Raymond Lanthier
    .ct Representative / new trailers
    .te ☎ext. 257
    .ce
      a(href='mailto:RaymondL@actionutilityquebec.com') RaymondL@actionutilityquebec.com
    br
    .cc
      a(href='mailto:SeanI@actionutilityquebec.com') Sean Ireland
    .cn Sean Ireland
    .ct Representative / inside sales
    .te ☎ext. 231
    .ce
      a(href='mailto:SeanI@actionutilityquebec.com') SeanI@actionutilityquebec.com
    br
    .cc
      a(href='mailto:JohanneM@actionutilityquebec.com') Johanne McSween
    .cn Johanne McSween
    .ct Logistic attendant
    .te ☎ext. 232
    .ce
      a(href='mailto:JohanneM@actionutilityquebec.com') JohanneM@actionutilityquebec.com
    br
    .cc
      a(href='mailto:HughD@actionutilityquebec.com') Hugh Davis
    .cn Hugh Davis
    .ct Representative / used trailers
    .te ☎ext. 225
    .ce
      a(href='mailto:HughD@actionutilityquebec.com') HughD@actionutilityquebec.com
    br
    h3 Service Department :
    .cc
      a(href='mailto:GhyslainM@actionutilityquebec.com') Ghyslain Maheu
    .cn Ghyslain Maheu
    .ct Service advisor
    .te ☎ext. 233
    .ce
      a(href='mailto:GhyslainM@actionutilityquebec.com') GhyslainM@actionutilityquebec.com
    br
    h3 Parts Department :	
    .cc
      a(href='mailto:DominicD@actionutilityquebec.com') Dominic Doucet
    .cn Dominic Doucet
    .ct Advisor
    .te ☎ext. 237
    .ce
      a(href='mailto:DominicD@actionutilityquebec.com') DominicD@actionutilityquebec.com
    br
    h3 Financing and Credit :	
    .cc
      a(href='mailto:SusanC@actionutilityquebec.com') Susan Cloutier
    .cn Susan Cloutier
    .ct Attendant
    .te ☎ext. 234
    .ce
      a(href='mailto:SusanC@actionutilityquebec.com') SusanC@actionutilityquebec.com
    br
    h3 Payables and Purchasing: 
    .cc
      a(href='mailto:PauletteD@actionutilityquebec.com') Paulette Deschênes
    .cn Paulette Deschênes
    .ct Attendant
    .te ☎ext. 228
    .ce
      a(href='mailto:PauletteD@actionutilityquebec.com') PauletteD@actionutilityquebec.com
    br
    h3 Others:
    .otherc
      | Manufacturer's website:
      a(href='http://utilitytrailer.com/') utilitytrailer.com
    .otherc
      | Action trailer sales:
      a(href='http://actiontrailersales.com/') actiontrailersales.com
    .otherc
      | Webdesign:
      a(href='http://fr.maloweb.com/') maloweb.com
  form(action="http://maloweb.com/mail", method='post', target="_blank")
    .fields
      label Email:
      input(type='text', name='sender')
      br
      label Subject:
      input(type='text', name='subject')
      br
    .message
      label Message:
      br
      textarea(type='text', name='message')
      br
      input(type='submit', value='Send')
include footer
