footer
	nav
		a(href=".") Home
		a(href="neuf") New
		a(href="usage") Used
		a(href="location") Rental
		a(href="pieces") Parts
		a(href="service") Service
		a(href="contact") Contact
		a(href="../") French
	<br>Copyright <script>document.write((new Date).getFullYear())</script> Action utility