footer
	nav
		a(href="en") Home
		a(href="en/neuf") New
		a(href="en/usage") Used
		a(href="en/location") Rental
		a(href="en/pieces") Parts
		a(href="en/service") Service
		a.half(href="en/contact") Contact
		a.half(href=".") Français
	.copy Copyright <script>document.write((new Date).getFullYear())</script> Action utility
script
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37761254-2']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();