footer
	nav
		a(href="en") Home
		a(href="en/neuf") New
		a(href="en/usage") Used
		a(href="en/location") Rental
		a(href="en/pieces") Parts
		a(href="en/service") Service
		a.half(href="en/contact") Contact
		a.half(href=".") French
	<br>Copyright <script>document.write((new Date).getFullYear())</script> Action utility