header
	h1 action utility quebec trailers
	#mobile Mobile<br>Friendly
	#slogan The World's Leading Producer of<br>Strong, Light Weight Trailers


nav
	a(href=".") Home
	a(href="neuf") New
	a(href="usage") Used
	a(href="location") Rental
	a(href="pieces") Parts
	a(href="service") Service
	a.half(href="contact") Contact
	a.half(href="../") French