nav
	a(href="en") Home
	a(href="en/neuf") New
	a(href="en/usage") Used
	a(href="en/location") Rental
	a(href="en/pieces") Parts
	a(href="en/service") Service
	a.half(href="en/contact") Contact
	a.half(href=".") Français
header
	h1 action utility quebec trailers
	#mobile Mobile<br>Friendly
	#slogan The World's Leading Producer of<br>Strong, Light Weight Trailers