
include head
<body class="textps pieces">
include header

.content(style="background-image:url(img/bgpiece.jpg);background-size:cover")
	.ibox
	#textbox(style="background:#fff")
		h1 Parts
		article
			| Action Utility Québec Inc. Is the one and only authorized Utility trailers dealer in Québec.<br>We are also proud distributors of the following famous make:<img src="http://farm9.staticflickr.com/8370/8475356571_8fb69d65ed_o.png" style="float:right;max-height:245px;max-width:50%;border:solid 10px white;box-shadow:0px 0px 5px rgba(0,0,0,.2);margin-top:20px;margin-left:20px">
			ul
				li Grote
				li Trucklite
				li Hendrickson
				li Haldex
				li Bendix
				li Phillips
				li And many more…
			| Our parts manager will be happy to offer you with the best prices in town.
	.ibox

include footer