-title = 'Parts'

include head
<body class="textps pieces">
include header

.content
	.ibox(style="background:url(img/pieces2.jpg)")
	#textbox
		h2!=title
		article
			| Action Utility Québec Inc. Is the one and only authorized Utility trailers dealer in Québec<br>We are also proud distributors of the following famous make:<img src="img/parts.png" style="float:right;max-height:245px;max-width:30%;border:solid 10px white;box-shadow:0px 0px 5px rgba(0,0,0,.2);margin-top:20px;margin-left:20px">
			ul
				li Grote
				li Trucklite
				li Hendrickson
				li Haldex
				li Bendix
				li Phillips
				li And many more…
			| Our parts manager, Serge Maheu, will be happy to offer you with the best prices in town.
	.ibox(style="background:url(img/pieces.jpg)")

include footer