include head
<body class="textps service">
include header

.content
	.ibox(style="background:url(img/pieces2.jpg)")
	#textbox
		h2 Service
		article
			| Action Utility Québec Inc. operates a service department second to  none in all eastern Canada. For small mechanic work, heavy body reconstruction or simple preventive maintenance, our specialized skilled technician will give you satisfaction.
			br
			| Here are some of our areas of expertise:
			ul
				li A.B.S. system failure
				li Suspension problem
				li Electricity
				li Body work
				li Frame and structure
				li Options and special equipments
			| Our Service Manager, Hugh Davis will be happy to help you.
	.ibox(style="background:url(img/pieces.jpg)")

include footer