.usage .content{padding:1em;background:#fff;text-align:center;}
.usage .content article{vertical-align:top;max-width:460px;display:inline-block;text-align:left;margin:1em;}
.usage .content article img{max-height:200px;margin:10px;text-align:center;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);box-shadow:0 0 5px rgba(0,0,0,0.2)}
.usage .content time{font-weight:normal;font-size:.62em;color:#aaa;display:block}
.usage .content .sig{text-align:right;height:10.5em;display:block;background:url("img/log.png") -23px -3px no-repeat;}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){.usage .content .sig{background-image:url("img/log.svg")}
}@media (max-width:500px){.usage .content .sig{display:none !important}
}