footer
	nav
		a(href='.') Accueil
		a(href='neuf') Neuf
		a(href='usage') Usagé
		a(href='location') Location
		a(href='pieces') Pièces
		a(href='service') Service
		a(href='contact') Contact
	<br>Copyright <script>document.write((new Date).getYear()+1900)</script> Action utility