footer
	//nav
		a(href='.') Accueil
		a(href='neuf') Neuf
		a(href='usage') Usagé
		a(href='location') Location
		a(href='pieces') Pièces
		a(href='service') Service
		a.half(href='contact') Contact
		a.half(href='en/') English
	.copy Copyright <script>document.write((new Date).getFullYear())</script> Action utility
script
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37761254-2']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	var nav=document.getElementsByTagName("nav")[0];

	onscroll=function(){
		if(document.body.scrollTop>196||document.documentElement.scrollTop>196){
			nav.className="fixed"
		}else{
			nav.className=""
		}
	}
