doctype html
<html lang="fr">
meta(charset='utf-8')
title ACTION UTILITY
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">

//if lt IE 9
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
	script.
		var $buoop = {vs:{i:8,f:6,o:11,s:4,n:9},l:"fr"} 
		$buoop.ol = window.onload; 
		window.onload=function(){ 
		try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
		var e = document.createElement("script"); 
		e.setAttribute("type", "text/javascript"); 
		e.setAttribute("src", "http://browser-update.org/update.js"); 
		document.body.appendChild(e); 
		} 

link(rel='stylesheet', href='s.css')
link(rel='icon', href='utility.ico')