header
	h1 action utility quebec, semi remorques
	#mobile Optimisé<br>pour Mobile
	#slogan Les <b>leaders</b><small> en</small> semi-remorques<br><i>légères</i> <small>et</small> <b>solides</b></div>

nav
	a(href=".") Accueil
	a(href="neuf") Neuf
	a(href="usage") Usagé
	a(href="location") Location
	a(href="pieces") Pièces
	a(href="service") Service
	a.half(href="contact") Contact
	a.half(href="en") English