.index #mobile {
  display: block;
}
.index .content {
  padding: 2em 2em 0 2em;
}
.index .content #face,
.index .content>article {
  display: inline-block;
  vertical-align: top;
}
.index .content article {
  width: 33.33%;
  padding: 2em;
}
@media screen and (max-width: 1150px) {
  .index .content article {
    width: 50%;
  }
}
@media screen and (max-width: 696px) {
  .index .content article {
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .index .content article {
    padding: 0;
    padding-bottom: 2em;
  }
}
.index .content #face {
  min-width: 250px;
  width: 100%;
}
.index .content #face:after {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  width: 54px;
  height: 54px;
  background: url("img/fi.png") center no-repeat;
}
