
include head.jade
<body class="textps location">
include header.jade

.content
  .ibox(style='background-image:url("http://farm9.staticflickr.com/8243/8474225747_ce0978a06c_o.jpg")')
  #textbox
    h1 Location
    article
      p Dans le but d'offrir une solution « clef-en-main », Action Utility Québec Inc. dispose d'un service de location courte durée. Nous possédons une flotte de plus de 50 semi-remorques de type boîte sèche et de type réfrigéré. Il nous fera grand plaisir de vous louer une de nos semi-remorques pour le temps d’une réparation ou tout simplement pour une demande excédentaire temporaire.
      p Pour toute information ou simplement connaître nos taux, n’hésitez-pas à communiquer avec notre spécialiste de la location.
      p Action Utility Québec Inc. A la solution!
  .ibox(style='background-image:url("http://farm9.staticflickr.com/8519/8474225731_52ae805a31_o.jpg")')

include footer.jade