include head.jade
<body class="textps pieces">
include header.jade

.content
	.ibox(style="background:url(img/pieces2.jpg)")
	#textbox
		h2 Pièces
		article
			p Action Utility Québec Inc. est le seul détaillant autorisé des authentiques pièces de semi-remorques Utility au Québec.<br>Nous sommes aussi fier fournisseur des marques prestigieuses suivantes :<img src="img/parts.png" style="float:right;max-height:245px;max-width:30%;border:solid 10px white;box-shadow:0px 0px 5px rgba(0,0,0,.2);margin-top:20px;margin-left:20px">
			ul
				li Grote
				li Trucklite
				li Hendrickson
				li Haldex
				li Bendix
				li Phillips
				li Et plusieurs autres… 
			| Notre directeur des pièces et ses collègues vous accueilleront toujours avec empressement.<br>
			| Action Utility Québec Inc. <u>SURPASSE</u> la compétition!
	.ibox(style="background:url(img/pieces.jpg)")

include footer.jade