include head
<body class="textps service">
include header

.content
	.ibox(style="background:url('http://farm9.staticflickr.com/8387/8474225713_9cf40abe2e_o.jpg')")
	#textbox
		h2 Service
		article
			| L’atelier de réparations mécaniques d’Action Utility Québec Inc. est réputé à travers tout l’est du Canada. Qu’il s’agisse de réparations mineures ou importantes au niveau de la carrosserie ou tout simplement d’un entretien préventif, nos techniciens professionnels et spécialisés sauront vous satisfaire.
			br
			Voici quelques-unes des spécialités de notre atelier de service :
			ul
				li Résolution de défectuosités de système A.B.S.
				li Résolution de problèmes de suspension
				li Résolution de troubles d’électricité
				li Travaux de carrosserie
				li Travaux de structure
				li Ajout d’options et d’équipements
			| Notre directeur de service et son équipe se feront un plaisir de vous servir!
			| Action Utility Québec Inc. est vraiment <u>VOTRE</u> solution!
	.ibox(style="background:url('http://farm9.staticflickr.com/8519/8474225731_52ae805a31_o.jpg')")

include footer